doctype html
html(lang="en")
    head
    body
        h1 API microservice
        
        article
            h2 Rquest header parser microservice
            article
                h3 Example
                p.code #{host}/api/whoami
            article
                h3 Output
                p.code {
                p.code &nbsp;&nbsp;&nbsp;&nbsp; ipaddress: "127.0.0.1",
                p.code &nbsp;&nbsp;&nbsp;&nbsp; language: "en-US",
                p.code &nbsp;&nbsp;&nbsp;&nbsp; software: "Windows NT 10.0; WOW64"
                p.code }
            
                
            